#calculator{
    border: 1px solid rgb(90, 87, 87);
    border-radius: 5px;
    width: 200px;
    background-color:black;
   
}
#display{
    margin: 10px 10px;
    width:85%;
    font-size: 20px;
}

.button-container{
   
display: flex;
justify-content: center;
flex-wrap:  wrap;

}
.button{
    width: 45px;
    height: 45px;
    margin:3px;
    background-color: aqua;
}
